# OS
.DS_Store
Thumbs.db

# VSCode local
.vscode/settings.json

# Logs
*.log

# Node
node_modules/

# Python
__pycache__/

# Secrets
.env
.env.*
*.pem
*.key
*.p12

# Projects and repositories
projects/
!projects/.gitkeep
